body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"]
 {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-container input[type="submit"]:hover {
  background-color: #45a049;
}


.material-symbols-outlined{
  width: 0px;
}
.psd{
  /* border: 1px solid; */
  align-items: center;
  display: flex;
  /* border: 1px solid #ccc; */

}
.pp{
  margin-left: 20%;
}
